<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.musiclibrary">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MichaelJacksonActivity"
            android:label="@string/michael_jackson_name"
            android:parentActivityName=".MainActivity"/>
        <activity
            android:name=".BobDylanActivity"
            android:label="@string/bob_dylan_name"
            android:parentActivityName=".MainActivity"/>
        <activity
            android:name=".ArethaFranklinActivity"
            android:label="@string/aretha_franklin_name"
            android:parentActivityName=".MainActivity"/>
        <activity
            android:name=".ElvisPresleyActivity"
            android:label="@string/elvis_presley_name"
            android:parentActivityName=".MainActivity"/>
    </application>

</manifest>